@font-face {
  font-family: Candara;
  src: url(font/Candara.ttf);
}

a:link {
color: #E55807;     
text-decoration: none;
}

a:visited {
color: #E55807;
text-decoration: none;
}

a:hover {
color: #E55807;
text-decoration: none;
}

a:active {
     color: #E55807;
     text-decoration: none;
}

body {
  background-color: #261206;
  background-image: linear-gradient(#180b03, #341603);
  color: white;
  font-family: Candara;
  font-size: 13px;
}

.header {
    padding: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 8px;
    border-style: solid;
    border-width: px;
    border-color: #ffffff;
    border-radius: 8px;
}

.header p {
  font-size: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
}

ul li::before {
  content: "-";
  color: #ffffff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.newsblog {
  border: #ffffff;
  border-width: 1px;
  border-style: groove;
  border-color: rgb(255, 255, 255);
  padding-left: 3%;
  padding-right: 3%;
}

.newsblog2 {
  text-align: right;
  padding-right: 3%;
  font-size: 8px;
}

.mcomments {
  padding-left: 3%;
  padding-right: 3%;
  padding: 2%;
  color: yellow;
}

.header-nav {
  font-size: 12px;
}

.header-nav span {
  color: #E55807;
}