a:link {
color: cyan;     
text-decoration: none;
}

a:visited {
color: cyan;
text-decoration: none;
}

a:hover {
color: cyan;
text-decoration: none;
}

a:active {
     color: blue;
     text-decoration: none;
}

body {
  background-color: #000000;
  color: white;
  font-family: Verdana;
  font-size: 13px;
}

.header {
    padding: 1%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 8px;
    border-style:ridge;
    border-width: 3px;
    border-color: #ffffff;
}

ul {
  list-style: none;
}

ul li::before {
  content: "-";
  color: #ffffff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.newsblog {
  border: #ffffff;
  border-width: 1px;
  border-style:groove;
  padding-left: 3%;
}

.newsblog2 {
  text-align: right;
  padding-right: 3%;
}

.mcomments {
  padding-left: 3%;
  padding: 2%;
  color: yellow;
}